*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#14BDAC;
    text-align: center;
}
/* h1{
    padding: 20px;
} */
.container{
    height: 70vh;
    display: flex;
   
    justify-content: center;
    align-items: center;
 
}

.msg-container{
    padding:250px 0px 250px 0px 
}

.game{
    height: 56vmin;
    width:  62vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}

.box{
    height: 18vmin;
    width: 18vmin;
    margin: 6PX;
    border-radius: 20PX;
    box-shadow: 0 0 1REM rgb(0, 0,0,0.3);
    font-size: 9VMIN;
    color:#F2EBD3 ;
    background-color:black;
    border: none;
}


#reset-btn{
    padding: 10px 60px 10px 60px;
    border-radius:45px;
    font-size: 1.27rem;
    background-color: #F2EBD3;
    font-weight: 500;
    border:  none;
    box-shadow: 0 0 1REM rgb(0, 0,0,0.3);
}

#new-btn{
    padding: 10px 60px 10px 60px;
    border-radius:45px;
    font-size: 1.27rem;
    background-color: #F2EBD3;
    font-weight: 500;
    border:  none;
    box-shadow: 0 0 1REM rgb(0, 0,0,0.3);
    margin-top: 10px;
}

#msg{
    color: #545454;
    font-size: 8vmin;
}

.hide{
    display: none;
}